 body {
     background-color: rgb(179, 176, 173);
 }

 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    text-align: center;
}

section {
    border: 15px solid rgb(44, 49, 49);
    justify-items: center;
    align-items: center
  }